<br>
<a class="btn btn-info" href="#/home" ng-click="backToHome()">close</a>
<br>
<br>
<table class="table" style="font-size:18px;">
	<tr>
		<td>Account name</td>						
		<td><div id="accountrName"></div></td>
	</tr>
	<tr>
		<td>Additional name</td>					
		<td><div id="AdditionalName"></div></td>
	</tr>
	<tr>
		<td>physical Account Address </td>			
		<td><div id="accountAddress"></div></td>
	</tr>
	<tr>
		<td>phone number</td>						
		<td><a id="number"></a></td>
	</tr>
	<tr>
		<td>24 hours emergency call number</td>		
		<td><a id="emerCall"></a></td>
	</tr>
	<tr>
		<td>Website</td>							
		<td><a id="wbsite"></a></td>
	</tr>
	<tr>
		<td>Workshop / divartsdealer type</td>		
		<td><div id="wptype"></div></td>
	</tr>
	<tr>
		<td>GPS data</td>							
		<td><div id="gpsData"></div></td>
	</tr>
	<tr>
		<td> supporting manufacturer</td>			
		<td><div id="">this is supporting manufacturer</div></td>
	</tr>
</table>