<!-- left toggle menu -->
<div class="leftMenu" ng-click="leftBodyClick()">
    <nav>
        <ul class="sb-menu">
            <li>
                <!-- <a>Trader Search</a> -->
                <a href="#/map">Trader Search</a>
            </li>
            <li><a>Garage(workshop) Search</a>
            </li>
            <li><a>Parts on demand shop</a>
            </li>
            <li><a href="tel:{{emergencyCall}}">emergency call</a>
            </li>
        </ul>
    </nav>
    <div id="m1" class="marquee">
        <span>The quick brown fox jumped over the lazy dog. She sells sea shells by the sea shore.</span>
    </div>
</div>

