<?xml version='1.0' encoding='utf-8'?>
<widget id="com.itbconsult.map.demo" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Mobile Map</name>
    <description>
	A Demo for Map
    </description>
    <author email="qun.lin@itbconsult.com" href="http://www.itbconsult.com">
	ITBconsult Mobile Team
    </author>
    <content src="index.html" />
    <!--content src="test/example.html" /-->
    <access origin="*" />
	<preference name="SplashScreen" value="icon" />
	<preference name="Fullscreen" value="true" />
</widget>
