<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        
        <link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap-glyphicons.css" >  
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,600,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/index.css" >   
          
    </head>
    <body ng-controller="appCtrl">
    
    <!--top menu-->
    <a id="myself" class="btn btn-default collapsed" data-toggle="collapse" data-target="#menuTool"  onclick="collapseTools();">
       <span id="iconId" class="text-left">
       <img src="img/arrowed_down.png" ></span>
       <span id="locationIcon" class="glyphicon glyphicon-map-marker"></span>
       <span id="locationText" ></span>
       <span class="text-right" >
       <img src="img/logo.png" ></span>
    </a>

    <div id="menuTool" class="collapse">
       <table style="width:100%;">
          <tr>
            <td rowspan="2" style="width:50px;">
              <a class="btn" ng-click ="exchangePostion()">
                <img src="img/arrows.png" >
              </a>
            </td>
            <td colspan="2">
              <input id="searchInput" ng-model="search" class="form-control hideInput" placeholder="Input Address">
            </td>
          </tr>
          <tr>
            <td style="width:25%;"><span style="font-size:25px;color:green" class="glyphicon glyphicon-map-marker"></span>&nbsp;<span style="font-size:25px;">My Location</span></td>
            <td>
				      <select id="selectedDistance" ng-model="distance"  class="form-control">
                  <option   ng-repeat="c in metadata.picklists.distance" value="{{c}}">{{c}} km
                  </option>
               </select>      
            </td>
          </tr>
          <tr><td colspan="3"><button id="searchBtn" ng-click="geoCode()" class="btn btn-default" data-toggle="collapse" data-target="#menuTool">Go</button></td></tr>
       </table>
    </div>

    
		<!-- buttom menu -->
		<ul class="nav nav-tabs navbar-fixed-bottom" style="" >
		  <li id="clickMap" class="active bottomBtnClick" style="width:50%" href="#mapArea" data-toggle="tab" ng-click="mapClick()">Map</li>
		  <li id="clickList" style="width:50%" class="bottomBtnUnclick" href="#maplistArea" data-toggle="tab" ng-click="listClick()">List</li>
		</ul>
		
		<!-- Tab panes -->
		<div class="tab-content" >
		  <div class="tab-pane active" id="mapArea" >
        <google-map class=""
             center="map.center"
             zoom="map.zoom"
             draggable="true"
             dragging="map.dragging"
             bounds="map.bounds"
             events="map.events"
             options="map.options"
             pan="true"
             control="map.control"
            >

            <!-- current -->
            <marker show="map.currentMarker.show" coords="map.currentMarker" click="onMarkerClicked(map.currentMarker)">
                <window ng-cloak show="map.currentMarker.showWindow" isIconVisibleOnClick="false" options="map.infoWindowWithCustomClass.options">
                        <p>This is an info window at {{ map.currentMarker.latitude | number:4 }}, {{ map.currentMarker.longitude | number:4 }}!</p>
                        <br>
                        <p class="muted">{{map.currentMarker.name}}</p>
                </window>
            </marker>
            <!-- target -->
            <marker show="map.targetMarker.show" coords="map.targetMarker" click="onMarkerClicked(map.targetMarker)">
                <window ng-cloak show="map.targetMarker.showWindow" isIconVisibleOnClick="false" options="map.infoWindowWithCustomClass.options">
                        <p>This is an info window at {{ map.targetMarker.latitude | number:4 }}, {{ map.targetMarker.longitude | number:4 }}!</p>
                        <p class="muted">{{map.targetMarker.name}}</p>
                </window>
            </marker>
            <!-- account -->
            <marker ng-repeat="m in map.markers" coords="m" icon="m.icon" click="onMarkerClicked(m)">
                <window ng-cloak show="m.showWindow" coords="map.infoWindowWithCustomClass.coords" isIconVisibleOnClick="false" options="map.infoWindowWithCustomClass.options">
                        <p>This is an info window at {{ m.latitude | number:4 }}, {{ m.longitude | number:4 }}!</p>
                        <p class="muted">{{m.name}}</p>
                </window>
            </marker>
		    </google-map> 
    	  </div>
		  
		  <div class="tab-pane" id="maplistArea" style="background:#EBEBEB;height:100%;">
		  	 <div id="scroller">
			     <ul style="list-style-type:none;padding:10px;">
			     	<li ng-repeat="listItem in map.markers" style="margin-bottom:20px;background:white;width:100%;border:1px solid gray;padding:5px;">
                      <div style="font-size:18px;">{{listItem.name}}</div>
                      <div style="margin-top:5px;font-size:16px;"><img src="img/home_icon.png">&nbsp;{{listItem.address}}</div>
                      <div style="margin:5px; border-bottom: 1px solid gray; height: 2px; "></div>
                      <div style="margin-top:5px;padding:3px;"><a class="btn btn-default" style="background:#EBEBEB;width:100%;text-align: left;font-size:15px;" href="tel:listItem.phone"><img src="img/phone_icon.png">&nbsp; {{listItem.phone}} </a></div>
                     </li>
			     </ul>
			 </div> 
		  </div>
		</div>
		
		
		    <script type="text/javascript" src="libs/jquery.min.js"></script>
        <!--script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false" ></script-->
        <script src="http://maps.googleapis.com/maps/api/js?libraries=weather,visualization&sensor=false&language=en&v=3.14"></script>
        <script type="text/javascript" src="libs/angular.min.js"></script>
        <!--script type="text/javascript" src="libs/angular-1.2.16.min.js"></script-->
        <script type="text/javascript" src="libs/underscore-min.js"></script>
        <script type="text/javascript" src="libs/angular-google-maps.js"></script>
        <script type="text/javascript" src="libs/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="libs/iscroll.js"></script>
        <script type="text/javascript" src="libs/spin.js"></script>
        <script type="text/javascript" src="js/map.js"></script>        
        <script type="text/javascript">
          directives.api.utils.Logger.doLog = true;
        </script>        
    </body>
</html>
