    html,body{
      width: 100%;
      height: 100%;
      margin:0px;
      background:#EBEBEB;
    }


    .navbar-fixed-bottom {
      min-height: 70px;
      margin: 5px;
      box-shadow:0 3px 25px black;
      border-radius: 0px;

    }

    .nav-tabs > li {
      padding-top: 0px;
      padding-bottom: 0px;
      line-height: 70px;
      text-align:center;
    }

    .tab-content{
      height: 100%;
    }

    .angular-google-map-container {
      margin-top: 70;
      margin-bottom: 75;
      width: 100%;
    }

    td{
      padding:5px;
    }	

    #myself{
      z-index: 100;
      width:100%;
      height:70px;
      position: absolute; 
      border-radius: 0px;
      background:#E1AE2E;
      border: 0px;
    }	

    #menuTool{
      padding:10px 2px 10px 2px;
      background:#EBEBEB;
      z-index: 100;
      position: absolute;
      width: 100%;
      /*margin-top: 70px;*/
    }

    .inputArea{
      height: 40px;
      font-size: 20px;
      border-radius: 0px;
    }

    #selectedDistance{
      width: 100%;
      height:40px;
      font-size:20px;
      border-radius: 0px;
      border: 0px;
    }

    #searchBtn{
      font-size:20px;
      width:100%;
      height:50px;
      background:#E1AE2E;
      border: 0px;
      color:white;
    }	

    #iconId{
      position:absolute;
      top:20px;
      left:10px;
      width:40px;
    }

    .text-right{
      position:absolute;
      top:20px;
      right:10px;
      width:200px;
    }

    .bottomBtnClick{
      background:#E1AE2E;
      color:white;
      border:0px;
      height:70px;
      font-size:25px;
    }

    .bottomBtnUnclick{
      background:#C3C3C3;
      color:#999999;
      border:0px;
      height:70px;
      font-size:25px;
    }


    /*label & window*/
    .shrink {
      font-size: 8;
    }

    .true:hover {
      background-color: lightgreen;
    }

    .false:hover {
      background-color: lightpink;
    }

    .marker-labels {
      color: red;
      background-color: white;
      font-family: "Lucida Grande", "Arial", sans-serif;
      font-size: 10px;
      font-weight: bold;
      text-align: center;
      width: 40px;
      border: 1px solid black;
      white-space: nowrap;
    }

    /* uncomment this if you are using the <google-map> element instead of a div
    .angular-google-map {
    display: block;
    }*/

    .custom-info-window{
      background: rgba(0,0,0,0.5);
      color: white;
      padding: 10px;
      /*border: 1px solid white;*/
      box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
      border-radius: 5px;
      width: 200px;
      margin-top: 15px;
      margin-left: -130px;
    }
    .custom-info-window a{
      color: white;
      text-decoration: underline;
    }
    .custom-info-window:after
    {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 0 15px 15px;
      border-color: rgba(0,0,0,0.5) transparent;
      display: block;
      width: 0;
      z-index: 1;
      top: -15px;
      left: 118px;
    }


    .animate-hide {
      -webkit-transition:all linear 0.5s;
      transition:all linear 0.5s;
      line-height:20px;
      opacity:1;
      padding:10px;
      border:1px solid black;
      background:white;
    }

    .animate-hide.ng-hide-add,
    .animate-hide.ng-hide-remove {
      display:block!important;
    }

    .animate-hide.ng-hide {
      line-height:0;
      opacity:0;
      padding:0 10px;
    }

    .check-element {
      padding:10px;
      border:1px solid black;
      background:white;
    }

    #maplistArea{
      z-index:1;
      background:#EBEBEB;
      margin-top: 70;
      width: 100%;
    }

    #mapArea{
      margin-top: 70px;
    }

    .b {
      display: none;
      width: 0px;
      border:20px solid; 
      /*border-color:transparent transparent #C4C4C4 transparent; */
      border-color:transparent transparent #E1AE2E transparent;
      position: fixed;
      left: 50%;
      margin-left: -20px;
      top: 50%;
      margin-top: -20px;
      opacity: 0.7;
    }
    .markerContent{
      display: none;
      width:300px;
      height:250px;
      position:fixed;
      top:50%;
      /*background:#C4C4C4;*/
      background: #E1AE2E;
      z-index:10;
      left:50%;
      margin-top: 20px;
      margin-left:-150px;
      opacity: 0.7;
      border-radius: 10px;
      font-size: 20px;
      color: white;
      padding-top: 10px;
      padding-left: 10px;

    }


    .alertContent{
      display:none;
      width:300px;
      height:200px;
      position:fixed;
      top:50%;
      /*background:#C4C4C4;*/
      background: #E1AE2E;
      z-index:10;
      left:50%;
      margin-top: -100px;
      margin-left:-150px;
      opacity: 0.7;
      border-radius: 10px;
      font-size: 20px;
      color: white;
      text-align: center;
      line-height: 200px;
    }

    .nameDiv{
      font-size:18px;
    }
    .addressDiv{
      margin-top:5px;
      font-size:16px;
    }
    .lineDiv{
      margin:5px; 
      border-bottom: 1px solid gray; 
      height: 2px;
    }
    .telDiv{
      margin-top:5px;
      padding:3px;
    }
    .telA{
      background:#EBEBEB;
      width:100%;
      text-align: left;
      font-size:15px;
    }

    #scroller {
      margin-top: 70px;
      margin-bottom: 75px;
      z-index:1;
      position: absolute;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      width: 100%;
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-text-size-adjust: none;
      -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
      -o-text-size-adjust: none;
      text-size-adjust: none;
    }